<div class="container">
  <div class="jumbotron text-center">
    <h3>Alvaro Mauricio Patty Cruz</h3>
    <div class="lead">
      <a href="https://www.linkedin.com/in/apattycruz/">LinkedIn</a>
      <a href="https://github.com/patomalo">GitHub</a>
    </div>
    <label>
      'Angular Test' project, built with:
      <li>AngularJS</li>
      <li>JavaScript</li>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
      <li><a href="https://github.com/blueimp/jQuery-File-Upload">Jquery-file-load</a></li>
      <li><a href="https://wistia.com/doc/upload-api">WISTIA API</a></li>
      <li><a href="https://github.com/patomalo/angularTest">Project Code</a></li>
    </label>
    <p class="lead">
      Thanks for your time
    </p>
  </div>
</div>

